@import url("variables.css");

* {
  font-size: var(--font-size-base);
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

.navbar-custom {
  transition: background-color 0.4s ease;
  background-color: transparent;
  z-index: 1000; /* garante que fica acima do banner */
}
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
}

/* Banner ocupa a tela inteira no topo */
.banner {
  position: relative;
  height: 105vh;
  background: url("./assets/image.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 4rem 0;
}

.banner h1 {
  font-size: 3rem;
}

.beneficios {
  height: 375px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("./assets/fundo-beneficios.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: -40px;
}

.beneficio-item {
  background: transparent;
}

.beneficio-item .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.beneficio-titulo,
.beneficio-texto {
  color: var(--white-color);
}

.sobre {
  position: relative;
}

.sobre-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  z-index: -1;

  /* aumenta 20% da altura e centraliza */
  transform: translateY(-50%) scaleY(2);
  transform-origin: center top;
}
.bg-img {
  position: relative;
  background: var(--secondary-color);
  width: 500px;
  height: 400px;
}
.bg-img img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.funcionamento {
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("./assets/fundo-funcionamento.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.funcionamento p,
.funcionamento h2 {
  color: var(--white-color);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 auto 20px;
}
.btn-custom {
  margin-top: 30px;
  background-color: #fff;
  color: #1b1e3a;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
}
.info-text {
  max-width: 250px;
  margin: 0 auto;
}
.trabalhar {
  height: 700px;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 8px;
  padding: 0.6rem 3rem;
  transition: 0.5s ease;
}

.btn-primary:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

/* seçaão de duvidas */
.duvidas {
  background: var(--white-color);
  padding: 4rem 0;
}

.accordion-item {
  margin-bottom: 0.5rem;
}
.accordion-button {
  background: var(--primary-color);
  color: var(--white-color);
}

.accordion-button::after {
  fill: var(--white-color);
}

.footer-header {
  background: var(--secondary-color);
}

.footer-rodape {
  background: var(--text-color);
}

footer p,
footer h1,
footer h2,
footer h3 {
  color: var(--white-color);
}

footer a {
  color: var(--white-color);
  text-decoration: none;
}

footer i {
  color: var(--white-color);
  font-size: 25px;
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .banner {
    height: 105vh;
  }
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }

  .beneficios {
    height: 700px;
    top: -80px;
    background-image: url("./assets/fundo-beneficios-tab.png");
  }
}
@media (max-width: 769px) {
  .funcionamento {
    height: 1000px;
  }
}
@media (max-width: 575px) {
  .banner {
    height: auto;
  }
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }

  .beneficios {
    background-image: url("./assets/fundo-beneficios-fone.png");
    height: 1050px;
  }

  .bg-img {
    width: 100%;
  }
}

.swiper{
  height: 250px;
}

.swiper-slide {
  height: fit-content;
  border: 1px solid #0c1f3b;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}

.swiper-slide img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.person-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.person-name {
  color: #0c1f3b;
  font-weight: 500;
}

.swiper-pagination-bullet {
  background-color: #0c1f3b;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #001737;
}

.swiper-button-next,
.swiper-button-prev {
  color: #001737;
}
