@import url("variables.css");

* {
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.navbar-custom {
  transition: background-color 0.4s ease;
  background-color: transparent;
  z-index: 1000; /* garante que fica acima do banner */
}
.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
}

/* Banner ocupa a tela inteira no topo */
.banner {
  position: relative;
  height: 105vh;
  background: url("./assets/image.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 4rem 0;
}

.banner h1 {
  font-size: 3rem;
}

.beneficios {
  height: 375px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("./assets/fundo-beneficios.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: -40px;
}

.beneficio-item {
  background: transparent;
}

.beneficio-item .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.beneficio-titulo,
.beneficio-texto {
  color: var(--white-color);
}

.bg-img {
  position: relative;
  background: var(--secondary-color);
  width: 500px;
  height: 400px;
}
.bg-img img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.funcionamento {
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("./assets/fundo-funcionamento.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: white;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d9d9d9; /* placeholder para círculo */
  margin: 0 auto 20px;
}
.btn-custom {
  margin-top: 30px;
  background-color: #fff;
  color: #1b1e3a;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
}
.info-text {
  max-width: 250px;
  margin: 0 auto;
}
.trabalhar {
  height: 700px;
}

@media (max-width: 991px) {
  .banner {
    height: 105vh;
  }
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }

  .beneficios {
    height: 700px;
    top: -80px;
    background-image: url("./assets/fundo-beneficios-tab.png");
  }
}

@media (max-width: 575px) {
  .banner {
    height: auto;
  }
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }

  .beneficios {
    background-image: url("./assets/fundo-beneficios-fone.png");
    height: 1050px;
  }

  .bg-img {
    width: 100%;
  }
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 8px;
  padding: 0.6rem 3rem;
  transition: 0.5s ease;
}

.btn-primary:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

/* seçaão de duvidas */
.duvidas {
  padding: 4rem 0;
}

.accordion-item {
  margin-bottom: 0.5rem;
}
.accordion-button {
  background: var(--primary-color);
  color: var(--white-color);
}

.accordion-button::after {
  fill: var(--white-color);
}

.footer-header {
  background: var(--secondary-color);
  height: 300px;
}

.footer-rodape {
  background: var(--text-color);
  height: 96px;
}
